@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@media screen and (max-width: 980px) {
   .slider_container {
        display: none;
    }
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: Arimo;
}
.header_topline{
	background-color: #dcdcdc;
	padding: 25px 0; 
}
.header_topline button {
	background-color: #282c37;
	width: 121px;
	height: 36px;
	color: white;
	margin-top: 0.5em;
	float: right;
}
.top_links ul {
	list-style-type:none;
	float: right;
	display: inline-block;
	font-size: 18px;
	color: #818181;
	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 10px; 
}
.top_links ul li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.logo {
	float: left;
}
.top_header {
	background-color: #777777;
}
.main_mnu {
	cursor: pointer;
	height: 81px;
}
.main_mnu  ul {
	padding: 2.2em;
}
.main_mnu a {
	text-decoration: none;
	color: white;
}
.main_mnu a:hover { 
	text-decoration: underline;
}
.main_mnu ul li {
	display: inline;
	padding-left: 6.6%;
	padding-right: 4.8%;
	font-size: 15px;
	border-left: 1px solid #424757;
}
.main_mnu ul li:first-child {
	border: none;
}

.slider_container img{
	width: 100%;
	height: 537px;
}
.slider_container {
	position: relative;
}

.next_button, .prev_button {
	color: #fff;
	font-size: 46px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top:40%;
}
.next_button{
	right: 20px;	
}
.prev_butoon {
	left: 20px;
}
.breadcrumbs { 
	list-style: none; 
	overflow: hidden;
	font-size: 15px;
}
.breadcrumbs li { 
	float: left;
}
.breadcrumbs li a {
	color: black;
	text-decoration: none; 
	padding: 15px 0 15px 5px;
	position: relative; 
	display: block;
	float: left;
}
.breadcrumbs li a:active {
	color: #7e7e7e;
}
.breadcrumbs li i {
	margin: 0 10px;
	color: #7e7e7e;
}
.leftblock {
	height: 500px;
}
.leftblock ul {
	list-style: none;
	color: #767676;
}
#act {
	list-style: circle;
	padding-left: 20px;
	list-style-type: disc;
	color: #767676;
	padding-top: 1em;
}
#act a {
	color: #767676;
}
#act a:hover {
	text-decoration: underline;
	color: black;
}
.leftblock > ul > li {
	padding-bottom: 1em;
}
.leftblock ul > li > ul > li {
	padding: 0;
}
.priceList  {
	padding-left: 15%;
	padding-top: 2em; 
}
.priceList img{
	height: 42px;
	width: 40px; 
}
.priceList a {
	font-size: 18px;
	text-align: center;
	color: black;
	font-weight: bold;
}
.priceList a:hover {
	text-decoration: underline;
}
.centerblock{
	font-size: 16px;
	text-transform: uppercase;
	color: #767676;
	text-align: center;
	float: right;
	padding-top: 3.8em;
	margin-bottom: 20px;
}
.price > span {
	font-size: 22px;
	display: inline-block;
	text-align: left;
	color: black;
	font-weight: bold;
	padding-right: 53%;
}
.price a > img {
	width: 28px;
	height: 21px;
}
#num ul li:nth-child(3) {
	font-size: 20px;
	font-weight: bold;
}
#num {
	margin-left: 23em;
	width: 780px;
	float: left;
	font-size: 14px;
	text-align: center;
}
#num a {
	color: #767676;
}
#num li {
	padding-right: 19px;
	display: inline;
	padding-bottom: 49px;
}
#num hr {
	width: 820px;
	border: none;
	background-color: #777777;
	height: 1px;
	margin-bottom: 32px;
}

.text {
	color: #777777;
	margin-bottom: 6em;
}
.footer {
	background-color: #777777;
	height: 200px;
}
.footer ul {
	margin-top: 50px;
}
.footer_info {
	float: left;
}
.footer_menu {
	float: right;
}
.footer_menu li {
	display: inline;
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 66px;
}
.footer_menu li a {
	color: #4c5059;
}
.footer li {
	list-style: none;
}

.modal-title {
	color: #000000;
	text-align: center;
}
.modal-body label {
	float: left;
	font-size: 12px;
}
.modal-footer button{
	background-color: #777777;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 28px;

}
input[type="email"]::-webkit-input-placeholder {
	color: red !important;
	font-size: 12px !important;;
}

input[type="email"]:-moz-placeholder { /* Firefox 18- */
	color: red !important;
	font-size: 12px !important;; 
}

input[type="email"]::-moz-placeholder {  /* Firefox 19+ */
	color: red !important;
	font-size: 12px !important;; 
}

input[type="email"]:-ms-input-placeholder {  
	color: red !important;
	font-size: 12px !important;; 
}
.field  i {
	font-size: 5px;
	color: red;
	margin-top: 0em;
	position: absolute;
}